.tasks__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 14px;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}
.tasks__item:first-child {
  border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
}
.tasks__item:last-child {
  border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
}
.tasks__item + .tasks__item {
  position: relative;
}
.tasks__item:not(:first-of-type)::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #575965;
}
.tasks__item--done {
  text-decoration: line-through;
  color: #96e6b3;
}
.tasks__item:hover {
  background: #494c5c;
}
.tasks__btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background: transparent;
  outline: transparent;
  border: none;
  opacity: 0;
  transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  cursor: pointer;
}
.tasks__btn img {
  display: block;
  width: 20px;
  height: 20px;
}
.tasks__item:hover .tasks__btn {
  opacity: 1;
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .tasks__btn {
    opacity: 0.3;
  }
  .tasks__btn:active {
    opacity: 1;
  }
}
.tasks__btn:first-child {
  margin-left: auto;
}

@media (max-width: 1023px) {
  .tasks__btn {
    opacity: 0.3;
  }
  .tasks__btn:active {
    opacity: 1;
  }
}
