.tasks__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 12px;
  padding: 13px;
  background: #464f51;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.tasks__item:hover {
  background: #5e6668;
}
.tasks__btn{
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: 10px;
  background: transparent;
  outline: transparent;
  border: none;
  opacity: 0;
  transition: opacity 0.1s ease;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  cursor: pointer;
}
.tasks__btn img {
  display: block;
  width: 20px;
  height: 20px;
}
.tasks__btn:first-child{
  margin-left: auto;
}
.tasks__item:hover .tasks__btn{
  opacity: 1;
}