.tasks__item{
    width: 100%;
    height: 45px;
    padding: 13px;
    background-color: #464F51;
    line-height: 1;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.tasks__item + .tasks__item {
    margin-top: 12px;
}