.task__btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  text-align: center;
  background: #373a4e;
  color: #fde8e9;
  border: none;
  outline: transparent;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  cursor: pointer;
}
.task__btn-add:hover {
  background: #494c5c;
}
