.task__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 16px;
  padding: 14px;
  background: #373a4e;
  line-height: 1;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.task__form--invalid {
  background: #51464b;
}
.task__form:hover {
  background: #373a4e;
}
.task__form--invalid:hover {
  background: #51464b;
}
.task__input {
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
  color: #fde8e9;
  font-size: 16px;
  line-height: 16px;
}
.task__input::placeholder {
  color: rgba(253, 232, 233, 0.5);
}
.task__btn {
  margin-left: 10px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  outline: transparent;
  color: #fde8e9;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
.task__text-error {
  color: #da3e52;
}
