.task__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 16px;
  padding: 13px;
  background: #464f51;
  line-height: 1;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: background 0.1s ease;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -ms-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
}
.task__form--invalid {
  background: #51464b;
}
.task__form:hover {
  background: #5e6668;
}
.task__form--invalid:hover {
  background: #51464b;
}
.task__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
  color: #fde8e9;
  font-size: 16px;
  line-height: 1.2;
}
.task__input::placeholder {
  color: rgba(253, 232, 233, 0.5);
}
.task__btn {
  background: transparent;
  border: none;
  outline: transparent;
  color: #fde8e9;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
}
